/* fix for overlapping menu */
@media screen and (max-width: 480px){
  .banner {
    font-size: 45px;
  }
}

/* fix for menu size */
@media screen and (max-width: 480px){
  .banner {
    height: 50px;
  }

  .header {
    position: inherit;
  }

  .blurb {
    padding-top: inherit;
  }
}